
body {
}

p
{
  font-family: "Trebuchet MS";
  font-size: 1.0em;
}

h1
{
  font-family: "Trebuchet MS";
  text-align: center;
  font-size: 3.0em;
}

h2
{
  font-family: "Trebuchet MS";
  text-align: center;
  font-size: 2.0em;
}

figcaption
{
  font-family: "Courier New";
  font-size: 1.1em;
  text-align: center;
}

/* figure > img{
  width:500px;
} */

img {
    max-width: 100%;
    height: auto;
}

.introduction
{
  text-align: left;
  font-size: 1.0em;
}

.field
{
  padding-bottom: 0px;
}

#form_zone
{
  padding-top: 10px;
  padding-bottom: 30px;
}

#objectives_form {
  background-color: rgba(252, 255, 255, 0.7);
  margin-bottom: 20px;
  width: 500px;
  padding: 20px;
}

#launchingButton
{
  font-family: "Trebuchet MS";
  font-size: 1.0em;
}

.section
{
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom:20px;
}

#container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#result_zone
{
  display: block;
  width: 70%;
}

#title_section
{
  background-color: rgba(0.0, 150, 150, 0.7);
}

#objective_section
{
  background-color: rgba(0.0, 150, 150, 0.5);
}

table{
  border-collapse: separate;
  border-spacing: 0 7px;
  background-color: rgba(240, 255, 255, 0.7);
}

table tr td {
  /*border: 1px solid black;
  border-collapse: collapse;*/
  text-align: left;
  padding-right: 50px !important;
  background-color:rgba(252, 255, 255, 0.7);
  font-family: "Trebuchet MS";
  font-size: 0.8em;
}

th {
  padding-right: 50px !important;
  text-align: left;
  font-family: "Trebuchet MS";
  font-size: 0.8em;
}

#advancement_section
{
  background-color: rgba(0.0, 150, 150, 0.3);
}

#plan_proposition_section
{
  background-color: rgba(0.0, 150, 150, 0.5);
}
